doctype html
html
  head
    title= title
    meta(chartset='UTF-8')
    link(rel = 'stylesheet',href='stylesheets/w3.css')
    script(src="http://unpkg.com/axios/dist/axios.min.js" )
    script(src="javascripts/gestao.js")
  body
    block content
